<!-- my-app/src/layouts/main.html -->
<!DOCTYPE html>
<html lang="en">
    <script>
        global = globalThis // fix for "global not defined" error
      </script>
      <link rel="stylesheet" href="$assetsDir/styles/salesforce-lightning-design-system.css" />
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
        <title>LWR + SLDS Example</title>
     
    </head>

    <body>
        
        {{{body}}} {{{lwr_resources}}}
    </body>
</html>